.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.DogLogo {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  justify-content: space-between;
  width: 28rem;
  align-items: baseline;
}
h1 {
  font-size: 1.5rem;
  color: #6c63ff;
}
img {
  width: 8rem;
}
